*
!.gitignore
!.gitattributes
!.dockerignore
!/config.yaml.example
!/agent.js
!/agent-arm64.js
!/go.mod
!/go.sum
!/main.go
!/README.md
!/README-WINDOWS.md
!/utils/
!/utils/**
!/cmd/
!/cmd/**
!/internal/
!/internal/**
!/internal/logging/
!/internal/logging/**
!/gui/
!/gui/**
!/scripts/
!/scripts/**
!/installer/
!/installer/**
